{% include 'meet/banner.html' %}
<h1>Edit Profile</h1>

<h2>info</h2>
<form action="{% url 'meet:edit_profile' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <img height="200" width="200" src="{{ MEDIA_URL }}{{ photo }}"/>
    <br/>
    Photo: <input type="file" name="photo" accept="image/*">
    <br/>
    Name: <input type="text" name="name" value="{{name}}">
    <br/>
    City: <input type="text" name="city", value="{{city}}">
    <br/>
    Country: <input type="text" name="country" value="{{country}}">
    <br/>
    Languages: <select name="language">
        {% for language in languages %}
        <option value="{{language.id}}">{{language.name}}</option>
        {% endfor %}
    </select>
    <ul>
        {% for language in user_languages %}
        <li>{{language.language.name}}&nbsp <a href="{% url 'meet:rm_userlang' language.id %}">Remove</a></li>
        {% endfor %}
    </ul>
    Gender: <select name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <input type="submit" value="Save">
</form>
